html {
    background-color: #f2f2ee;
    font-family: 'Raleway';
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b2beb5;
    width: auto;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
}

#toggle-nav, .hamburger-menu {
    display: none;
}

#navbar header {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.nav-link {
    display: block;
    padding: 4px 10px 25px 6px;
    text-decoration: none;
    color: #434844;
    margin-left: 13px;;
}

#main-doc {
    position: absolute;
    top: -20px;
    margin-left: 223px;
}

.main-section {
    margin-bottom: 30px;
}

article {
    margin-left: 15px;
}

header {
    font-size: 30px;
}

h1 {
    font-weight: normal;
    font-size: 23px;
}

code {
    padding: 3px 5px 3px 5px;
    border: solid 1px #d2d2cf;
    border-radius: 4px;
    background-color: #d2d2cf;
    color: #2b2b2a;
}

.box-display {
    display: inline-block;
    white-space: pre-wrap;
}

p {
    line-height: 1.5;
}

article a:link {
    color: #005b96;
}

article a:hover {
    color: #03396c;
}

article a:visited {
    color: #800080
}

@media screen and (max-width: 767px) {
    .hamburger-menu {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        background: url("https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg");
        z-index: 2;
    }

    #navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #b2beb5;
        width: auto;
        height: 100%;
        z-index: 1;
        overflow-x: hidden;
        transition: left 2s ease;
    }

    #toggle-nav:checked ~ #navbar {
        display: block;
        transform: translateX(0);
        left: 0;
    }
}