:root {
    --color1: #210124;
    --color2: #FEFFFE;
    --color3: #E5FCF5;
    --color4: #B3DEC1;
    --color5: #750D37;
    --main-font: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color1);
    background-color: var(--color2);
    font-size: 16px;
    font-family: var(--main-font);
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: var(--color5);
    color: var(--color2);
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 1000;
}

@media (max-width: 580px) {
    #navbar {
        justify-content: center;
    }
}

ul {
    display: flex;
    align-items: center;
    margin-right: 10px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--color2);
    font-family: var(--main-font);
    font-size: 1.4rem;
    padding: 24.5px 0.781rem;
}

@media (max-width: 580px) {
    .nav-link {
        font-size: 1.3rem;
    }
}

.nav-link:hover {
    background-color: var(--color1);
}

@media (max-width: 580px) {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container {
    display: block;
    width: 100%;
    margin: 75px auto 0 auto;
    padding: 0;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(67deg, var(--color2) 0%, #F5F5F5 50%, #E5E5E5 100%);
}

h1 {
    font-size: 4rem;
}

@media (max-width: 580px) {
    h1 {
        text-align: center;
        font-size: 3rem;
    }
}

p {
    font-size: 1.3rem;
    font-style: italic;
    color: var(--color5);
}

@media (max-width: 580px) {
    p {
        font-size: 1.2rem;
    }
}

.project-section {
    padding: 7rem 2rem;
    background: var(--color1);
}

@media (max-width: 580px) {
    .project-section {
        padding: 3.5rem 1.7rem;
    }
}

.project-section h2 {
    text-align: center;
    font-size: 3rem;
    color: var(--color3);
    margin: 0 auto 3.5rem auto;
}

@media (max-width: 580px) {
    .project-section h2 {
        font-size: 2.3rem;
    }
}

.stack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

@media (max-width: 580px) {
    .stack {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@media (max-width: 580px) {
    .project-tile {
        transform: scale(0.9);
    }
}

.project-image {
    height: calc(100% - 2rem);
    width: 100%;
    max-width: 30rem;
    max-height: 30rem;
    object-fit: cover;
    border: 1px solid var(--color5);
}

.project-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 30rem;
    height: 4.3rem;
    max-height: 30rem;
    background: var(--color5);
    color: var(--color3);
    font-size: 1.4rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(67deg, var(--color2) 0%, #F5F5F5 50%, #E5E5E5 100%);
    color: var(--color1);
}

.contact-section h2 {
    margin: 2rem auto;
    font-size: 3rem;
}

@media (max-width: 580px) {
    .contact-section h2 {
        font-size: 2.5rem;
    }
}

.contact-info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 580px) {
    .contact-info {
        font-size: 1.2rem;
    }
}

.contact-button {
    padding: 0 1rem;
    text-decoration: none;
    color: var(--color5);
    font-size: 1.4rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 8vh;
    background: var(--color1);
}

@media (max-width: 580px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
        font-size: 4px;
    }
}

.footer p, a {
    color: var(--color3);
}

.footer a {
    text-decoration: none;
}